* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  min-height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./imagens/praia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 64px;
}

button {
  cursor: pointer;
}

.button-spacing {
  margin-top: 40px;
}

.button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-primary {
  border: 2px solid #00a7ef;
  color: #00a7ef;
}

.button-primary:hover {
  background-color: rgba(0, 167, 239, 0.2);
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.city {
  display: flex;
  width: 100%;
}

.item-50 {
  flex-basis: 50%;
}

.content {
  display: flex;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-title {
  margin-bottom: 40px;
}

.content-image {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 20px;
}

.services {
  margin-top: 30px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.services-item {
  width: 300px;
  height: 100%;
  background-color: #00a7ef;
}

.services-image {
  width: 100%;
}

.services-text {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.contact {
  display: flex;
  margin-top: 40px;
}

footer {
  background-color: #c4c4c4;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1024px) {
  .services-item {
    width: 100%;
  }
}

/* tablets OU celulares */
@media (max-width: 768px) {
  .city,
  .services-content {
    flex-direction: column;
  }

  .contact {
    flex-direction: column-reverse;
  }

  .services-item {
    height: 100%;
    max-height: 270px;
  }

  .services-image {
    object-fit: cover;
    max-height: 200px;
  }
}
