* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  min-height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./imagens/praia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 64px;
}

button {
  cursor: pointer;
}

.button-spacing {
  margin-top: 40px;
}

.button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-primary {
  border: 2px solid #00a7ef;
  color: #00a7ef;
}

.button-primary:hover {
  background-color: rgba(0, 167, 239, 0.2);
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.city {
  display: flex;
  width: 100%;
}

.city-item {
  flex-basis: 50%;
}

.city-content {
  display: flex;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-title {
  margin-bottom: 40px;
}

.city-image {
  width: 100%;
  object-fit: cover;
}

/* tablets OU celulares */
@media (max-width: 768px) {
  .city {
    flex-direction: column;
  }
}
